# Raw Data
food-com-recipes-and-user-interactions/

# Created Data
write_data/

# Previous Logs
logs/

# Test files
test_run.csv
test.txt

# MacOS files
.DS_Store

# Credentials
secrets/

# iPynb
.ipynb_checkpoints/
python/.ipynb_checkpoints/

.vscode/
python/.vscode

python/__pycache__/

test.json
train.json

capstone-flask-app-template-seattle-ds-080519/

food2vec/

recipe-vectorizer

raw_data/recipes-en-201706/

MeaLeon/

raw_data/